@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<ModelEF.Model.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <section>
        <div class="container">
            <div class="row">              
                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Danh sách sản phẩm</h2>
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="~/Assets/client/images/home/abc.jpg" alt="" />
                                            <h2>@item.UnitCost</h2>
                                            <p>@item.Name</p>
                                            <a href="#" class="btn btn-default add-to-cart">
                                            <i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>@item.UnitCost</h2>
                                                <p>@item.Name</p>
                                                <a href="#" class="btn btn-default add-to-cart">
                                                <i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>}
                    </div><!--/recommended_items-->
                    <div class="col text-center">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
                        new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
